form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

form li {
  margin: 15px 0;
}

.questionFormItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#questionResponseInputBox {
  display:inline-block;
  width:100%;
  height: 150px;
  overflow-y: scroll;
}