.response-page {
  background-image: url(../img/backgrounds/responseBackground.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;   
  align-items: center; 
}