body, html {
    font-family: "Roboto", sans-serif;
    background: linear-gradient(to bottom, #FFDC97 0%,#DBEEFF 40%,#DFF0FF 100%);
    height: 100%;
  }

#main {
    color: black;
}

/* MODAL */
/* Background effect. It covers the entire site */
.modal {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Overlay effect: translucent background: black w/ partial opacity */
    z-index: 1; /* Overlay effect: positioned over other containers */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    position: fixed; /* Fix position on the top-left corner*/
    top: 0;
    left: 0;
    overflow: auto; /* Enable scroll if needed */
    padding-top: 80px; /* Location of the content container */
}

#navBar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #dddddd; opacity:0.6;
}

.active {
  color: pink;
}
